html {
    position: relative;
    min-height: 100%;
    min-width: 360px;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: lightgreen;
    font-family: 'Lato', sans-serif;
    min-width: 400px;
}

.header-container {
    background: url("../images/hero-without-logo.png") no-repeat scroll left top;
    background-size: cover;
}

.waist-container {
    background: url("../images/body-panel.png") no-repeat scroll left top;
    background-size: cover;
    min-height: 550px;
}

.green-div {
    height: 475px;
    transform: translateY(-10%);
    min-height: 475px;
    min-width: 735px;

}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.waist-left {
    border-right: 3px solid white;
}

.font-w-100 {
    font-weight: 100;
}

.waist-right h6 {
    line-height: 2.1;
}

.vertical-bottom {
    bottom: 0;
}

.position-relative {
    position: relative;
    height: auto;
}

.position-absolute {
    position: absolute;
}

.bg-green {
    background-color: #15b542;
}

.bg-white {
    background-color: white;
}

/*.bg-light-grey {*/
    /*background-color: #f6f6f6;*/
/*}*/

.form-group .form-control {
    background-color: #f6f6f6;
    border-color: rgba(0,0,0,0);
}

.color-white {
    color: white
}

.font-sz-lg {
    font-size: 2rem;
}

.font-sz-md {
    font-size: 1.4rem;
}

.font-sz-sm {
    font-size: .8rem;
}

.font-sz-zero {
    font-size: 0;
}

.w-200px {
    width: 200px;
}
